@font-face {
	font-family: 'ForcedSquare';
	src: url("FORCED_SQUARE.ttf");
}

@font-face {
	font-family: 'TerminalF4';
	src: url("Terminal_F4.ttf");
}

@font-face {
	font-family: 'CallingCode';
	src: url("CallingCode-Regular.ttf");
}

body {
	background-color: black;
	margin-left: 300px;
	margin-right: 300px;
}

header {
	background-color: black;
}

h1 {
	font-family: 'ForcedSquare', sans-serif;	
	-webkit-text-fill-color: black;
  	-webkit-text-stroke-color: darkred;
  	-webkit-text-stroke-width: 1.00px; 
  	background: black;
  	font-size: 108px;
  	padding: 0px;  	
	text-align: center;
}

h2 {
font-family: 'ForcedSquare', sans-serif;	
	-webkit-text-fill-color: black;
  	-webkit-text-stroke-color: darkred;
  	-webkit-text-stroke-width: 1.00px; 
  	background: black;
  	font-size: 72px;
  	padding: 0px;  	
	text-align: center;
}

.main-copy p, li {
	font-family: 'TerminalF4' , sans-serif;
	-webkit-text-fill-color: gray;	
  	padding: 5px 75px;
	font-size: 19px;
	text-align: center;
}

.main-copy li {
	text-align: left;
}

.main-copy img {	
	display: block;
  	margin: auto;
}

.code-text {
	font-family: 'CallingCode';
	-webkit-text-fill-color: green;
	font-size: 17px;
}

a {
	text-decoration: none;
}

label {
	font-family: 'TerminalF4' , sans-serif;	
}

hr {
	margin-top: 75px;
	margin-bottom: 75px;
	border: 2px solid darkred;
}

footer {
	vertical-align: middle;
}

footer label {	
	-webkit-text-fill-color: gray;	
}

.link-text {
	-webkit-text-fill-color: green;	
}

#githubImage {
	width: 16px;
	height: 16px;
}

#email-image {
	filter: invert(100%);
}